<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNv2VTqzwkSXG1CE0GvXQhhP9g4o99HXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>446116851261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClA2</string>
	<key>PROJECT_ID</key>
	<string>instaa2-daa0d</string>
	<key>STORAGE_BUCKET</key>
	<string>instaa2-daa0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446116851261:ios:2958f7989e247ad9a84454</string>
	<key>DATABASE_URL</key>
	<string>https://instaa2-daa0d-default-rtdb.firebaseio.com</string>
</dict>
</plist>